$colors: (
  base: ("black": #222,
    "white": #efefef),
  themes: (material: ("red": #f44336,
      "pink": #e91e63,
      "purple": #9b27af,
      "deeppurple": #673ab7,
      "indigo": #3f51b5,
      "blue": #2196f3,
      "lightblue": #03a9f4,
      "cyan": #00bcd4,
      "teal": #009688,
      "green": #4caf50,
      "lightgreen": #8bc34a,
      "lime": #cddc39,
      "yellow": #ffeb3b,
      "amber": #ffc107,
      "orange": #ff9800,
      "deeporange": #ff5722,
      "brown": #795548,
      "grey": #9e9e9e,
      "bluegrey": #607d8b,
    ),
    flatui: ("turqoise": #1abc9c,
      "emerald": #2ecc71,
      "peterriver": #3498db,
      "amethist": #9b59b6,
      "wetasphalt": #34495e,
      "greensea": #16a085,
      "nephritis": #27ae60,
      "belizehole": #2980b9,
      "wisteria": #8e44ad,
      "midnightblue": #2c3e50,
      "sunflower": #f1c40f,
      "carrot": #e67e22,
      "alizarin": #e74c3c,
      "clouds": #ecf0f1,
      "concrete": #95a5a6,
      "orange": #f39c12,
      "pumpkin": #d35400,
      "pomegranate": #c0392b,
      "silver": #bdc3c7,
      "asbestos": #7f8c8d,
    )),
  lighter: 5 10 15 20,
  darker: 5 10 15 20
);