@use 'colors - 5.4.5' as colors;
@use "sass:map";

.text {
  font: 1rem/1.5 Arial, Helvetica;
  padding: 1rem 0;
}

@each $key,
$value in colors.$color-palette {
  .text--#{"" + $key} {
    color: $value;
  }
}