h4 {
color: #999;
}

.tgl {
    display:none;
}

.tgl, .tgl:after, .tgl *, .tgl *:after, .tgl + .tgl-btn {
    box-sizing: border-box;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; /* Felhasználó nem jelölheti ki*/
}

.tgl + .tgl-btn:after {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-btn {
    background-color: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
}

.tgl + .tgl-btn:after {
    border-radius: 50%;
    background-color: white;
}

.tgl:checked + .tgl-btn {
    background-color: #9fd6ae;
}
